div.userInput
{
    padding-top : 5px;
    margin : auto;
    min-height : 50px;
    background-color : lightblue;
    width : 200px;
    border-radius : 10px;
    box-shadow : 0 4px 3px #ccc;
    
}

.userInput input
{
    margin-top : 5px;
    border : 1px inset;
    width : 150px;
}

.userInput .label
{
    display : block;
    margin-left: 10px;
    text-align : left;
}